body {
    background-image: url('../src/assets/images/login.jpg');
    background-size: cover;
    background: fixed;
    /* height: 100vh; */
}

.card {
    display: inline-block;
    width: 60rem;
    font-weight: 400;
    background-color: #d5d3c5!important;
    border-color: black!important;
    
    
}

.survey-card {
    width: 30rem;
    line-height: 1.5em;
}


.scoreCard {
    background-color: #d5d3c5!important;
    width: 25rem;
    display: inline-block!important;
    overflow: scroll!important;
    max-height: 700px!important;
    scrollbar-color: #d5d3c5!important; 
}

/* img {
    float: center;
    width:  800px;
    height: 500px;
    object-fit: cover;
} */

.scrollable-element {
    scrollbar-color: #d5d3c5!important;
  }
